.resume-input-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px 0;
}

.input-field {
  padding: 14px 20px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border 0.2s;
}

.input-field:focus {
  border-color: #2563eb;
}

.upload-box {
  border: 2px dashed #ccc;
  border-radius: 12px;
  padding: 32px;
  text-align: center;
  margin-top: 16px;
}

.upload-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
.card-title{
  font-size:21.6px;
}
.upload-btn {
  border: 2px solid #2563eb;
  background-color: #fff;
  color: #2563eb;
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.upload-btn:hover {
  background-color: #2563eb;
  color: white;
}

.or-text {
  color: #666;
  font-weight: bold;
}

.upload-info p {
  font-size: 13px;
  color: #777;
  margin: 4px 0;
}

.save-btn {
  margin-top: 24px;
  background-color: #2563eb;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  align-self: flex-end;
}

.save-btn:hover {
  background-color: #111;
}
